.container {
  margin-top: 90px;
  margin-bottom: 90px;
}

.bordered-content {
  border: 1px solid #d1bfa9;
}

h3 {
  color: #d1bfa9;
}

h5 {
  color: #375fb0 !important;
}

.btn-primary,
.page-item.active .page-link {
  background-color: #d1bfa9 !important;
  border-color: #d1bfa9 !important;
  color: #2b2528 !important;
}

.btn-primary:hover {
  text-decoration: none;
  color: #375fb0 !important;
}

.page-link {
  color: #2b2528 !important;
}

img.image-news {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .image-bloc {
    width: 390px;
    height: 280px;
  }
}
