.container {
  margin-top: 90px;
  margin-bottom: 90px;
}

h3 {
  color: #d1bfa9;
}

.btn-primary {
  background-color: #d1bfa9 !important;
  border-color: #d1bfa9 !important;
  color: #2b2528 !important;
}

.btn-primary:hover {
  color: #375fb0 !important;
}

@media screen and (max-width: 576px) {
  .contacts {
    display: none;
  }
}
