header {
  background-color: #375fb0;
}

.navbar-light .navbar-nav .nav-link {
  color: #2b2528 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #d1bfa9 !important;
}

h2 {
  color: #d1bfa9;
}

@media all and (max-width: 425px) {
  .buttonSearch {
    display: none;
  }
}
