.container {
  margin-top: 90px;
  margin-bottom: 90px;
}

h3 {
  color: #d1bfa9;
}

h5 {
  color: #375fb0 !important;
}

.btn-primary {
  background-color: #d1bfa9 !important;
  border-color: #d1bfa9 !important;
  color: #2b2528 !important;
}

.btn-primary:hover {
  text-decoration: none;
  color: #375fb0 !important;
}

.bordered-content {
  border: 1px solid #d1bfa9;
}

img.dimensions {
  width: 100%;
  height: 100%;
}

img.image-news {
  width: 100%;
  height: auto;
}

.modal-tools {
  position: absolute;
  top: 6%;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal-tools-btn {
  text-align: right;
}

.modal-tools-btn button {
  width: auto;
}

.tech-infos {
  text-align: center;
}

.tech-infos li {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  color: #375fb0;
}

.modal-tools-content {
  padding: 20px;
  width: 600px;
  height: auto;
  background-color: beige;
}

@media only screen and (min-width: 768px) {
  .image-bloc {
    width: 390px;
    height: 280px;
  }
}
