.container {
    margin-top: 90px;
    margin-bottom: 90px;
}

.btn-primary {
    background-color: #D1BFA9 !important;
    border-color: #D1BFA9 !important;
    color: #2B2528 !important;
}

.btn-primary:hover {
    text-decoration: none;
    color: #375FB0 !important;
}

h3 {
    color: #D1BFA9;
}