.container {
  margin-top: 90px;
  margin-bottom: 90px;
}

.btn-primary {
  background-color: #d1bfa9 !important;
  border-color: #d1bfa9 !important;
  color: #2b2528 !important;
}

.btn-primary:hover {
  text-decoration: none;
  color: #375fb0 !important;
}

h3 {
  color: #d1bfa9;
}
